<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:mvc="http://www.springframework.org/schema/mvc" layout:decorate="~{layout.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Документ показателя</title>
</head>
<body>
<div layout:fragment="content" class="container">
    <form th:action="@{/private/objectClassProperties}"
          th:object="${objectClassPropertyDocument}" method="post" id="property-document-update-form">
        <input type="hidden" th:field="*{id}">
        <input id="document-id" type="hidden" th:field="*{document}">

        <div class="input-group input-group-sm form-group">
            <div class="input-group-prepend">
            <span class="input-group-text" id="object-class-property-document" th:text="#{property.name.label}"
                  style="width: 8rem;">Документ</span>
            </div>
            <input id="document" type="text" class="form-control col-sm-12" th:field="*{document.header}"
                   aria-describedby="object-class-property-document" th:placeholder="#{property.name.placeholder}"
                   th:classappend="${#fields.hasErrors('document.id')} ? 'is-invalid'" autocomplete="off">
            <div class="invalid-feedback" th:each="error: ${#fields.errors('document.id')}" th:text="${error}"/>
        </div>

        <div class="d-flex justify-content-end">
            <a th:href="@{/private/objectClasses}" class="btn btn-secondary mr-1 button-sm">Cancel</a>
            <button type="submit" class="btn btn-primary button-sm" th:text="#{button.submit.label}">Save changes</button>
        </div>
    </form>

    <script type="text/javascript">
        $('#document').autocomplete({
                appendTo: $('#property-document-update-form'),
                source: function (request, response) {
                    $.ajax({
                        url: '/webService/api/v1/documents',
                        data: {search: request.term},
                        success: function (data) {
                            response($.map(data._embedded.documentList, function (item) {
                                return {
                                    label: item.header,
                                    value: item.id
                                }
                            }))
                        }
                    })
                },
                select: function (event, ui) {
                    this.value = ui.item.label;
                    $('#document-id').val(ui.item.value);
                    return false;
                }
            }
        );
    </script>
</div>
</body>
</html>