<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout.html}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>

</head>
<body>
	<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-7 d-flex">
				<div class="card col-sm-12">
					<div class="card-body">
						<form th:object="${sample}" th:action="@{/private/samples/{sampleId}(sampleId=${sample.id})}" method="POST">
							<input type="hidden" th:field="*{id}">

							<div class="input-group input-group-sm form-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="sample-code" th:text="#{sample.code.label}" style="width: 15rem;">Код</span>
								</div>
								<input id="sample-code" type="text" class="form-control col-sm-4" th:field="*{code}" aria-describedby="sample-code" th:classappend="${#fields.hasErrors('code')} ? is-invalid" th:placeholder="#{sample.code.placeholder}" autocomplete="off">
								<div class="invalid-feedback" th:each="error: ${#fields.errors('code')}" th:text="${error}"></div>
							</div>

							<div class="input-group input-group-sm form-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="sample-name" th:text="#{sample.name.label}" style="width: 15rem;">Наименование</span>
								</div>
								<input type="text" class="form-control" id="sample-name" th:field="*{name}" aria-describedby="sample-name" th:classappend="${#fields.hasErrors('name')} ? is-invalid" th:placeholder="#{sample.name.placeholder}" autocomplete="off">
								<div class="invalid-feedback" th:each="error: ${#fields.errors('name')}" th:text="${error}"></div>
							</div>

							<div class="input-group input-group-sm form-group">
								<div class="input-group-prepend">
									<span class="input-group-text" id="sample-selectionDateTime" th:field="*{selectionDateTime}" th:text="#{sample.selectionDateTime.label}" style="width: 15rem;">Дата/время отбора</span>
								</div>
								<input data-inputmask-alias="datetime" data-inputmask-inputformat="dd.mm.yyyy HH:MM:ss" data-inputmask-placeholder="__.__.____ __:__:__" type="text" class="form-control col-lg-2" id="datepicker" th:field="*{selectionDateTime}" aria-describedby="sample-selectionDateTime" th:classappend="${#fields.hasErrors('selectionDateTime')} ? is-invalid" th:placeholder="#{sample.selectionDateTime.placeholder}" autocomplete="off">
								<div class="invalid-feedback" th:each="error: ${#fields.errors('selectionDateTime')}" th:text="${error}"></div>
							</div>

							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="pwd" th:text="#{login.password.label}">Password</label> <input type="text" class="form-control form-control-sm" id="pwd" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? is-invalid" th:placeholder="#{login.password.placeholder}" autocomplete="off"> -->
							<!-- 								<div class="invalid-feedback"> -->
							<!-- 									<p th:each="error: ${#fields.errors('password')}" th:text="${error}">Invalid data</p> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<!-- 							<div class="form-group"> -->
							<!-- 								<label for="dateJoined" th:text="Дата">Дата</label> <input type="text" class="form-control form-control-sm" id="dateJoined" th:field="*{dateJoined}" th:classappend="${#fields.hasErrors('dateJoined')} ? is-invalid" th:placeholder="#{login.password.placeholder}" autocomplete="off"> -->
							<!-- 								<div class="invalid-feedback"> -->
							<!-- 									<p th:each="error: ${#fields.errors('dateJoined')}" th:text="${error}">Invalid data</p> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<!-- 							<div class="form-group form-check" th:if="*{not isSupersample}"> -->
							<!-- 								<input type="checkbox" class="form-check-input" th:field="*{isActive}" id="isActive"> <label class="form-check-label" for="isActive">Active</label> -->
							<!-- 							</div> -->
							<div class="d-flex justify-content-end">
								<a th:href="@{/private/samples}" class="btn btn-secondary mr-1 button-sm" data-dismiss="modal">Отмена</a>
								<button type="submit" class="btn btn-primary button-sm" th:text="#{button.submit.label}">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
// 			$(function() {
// 				$("#datepicker1").datepicker();
// 			});
		</script>
	</div>
</body>
</html>