<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:mvc="http://www.springframework.org/schema/mvc" layout:decorate="~{layout.html}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>

<script>
	
</script>

</head>
<body>
	<div layout:fragment="content">
		<table class="table table-striped table-hover table-bordered table-sm">
			<thead>
				<tr>
					<th class="text-center col-md-1">Логин</th>
					<th class="text-center col-md-2">Последние действия</th>
					<th class="text-center">ID сессии</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="s : ${sessions}">
					<td th:text="${s.principal.username}"></td>
					<td th:text="${#dates.format(s.lastRequest, 'dd.MM.yyyy HH:mm:ss')}"></td>
					<td th:text="${s.sessionId}"></td>
				<tr>
			</tbody>
		</table>
	</div>
</body>
</html>