<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Вход в систему</title>
<!-- CSS -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.4.0/font/bootstrap-icons.css}" />
<link rel="stylesheet" th:href="@{/webjars/datatables/1.10.23/css/dataTables.bootstrap5.min.css}" />
<link rel="stylesheet" th:href="@{/css/error.css}"></link>

<!-- JS -->
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.23/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/webjars/datatables/1.10.23/js/dataTables.bootstrap4.min.js}"></script>

</head>
<body>
	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<div class="error-template">
					<h2>Сессия закрыта</h2>
					<div class="error-actions">
						<a th:href="@{login}"  class="btn btn-primary btn-lg">
							<span class="glyphicon glyphicon-home"></span> К авторизации
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>